$border-radius: 5px;

input {
    font-size: 1rem;
    border: 1px solid #a7adba;

    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.reply-input {
    width: 100%;
}

.reply-submit-div {
    display: flex;
    align-items: center;
    padding-top: 0.4rem;
}

.nickname-span {
    padding-right: 1rem;
}

.nickname-input {
    width: 15rem;
}

.reply-button {
    margin-left: auto;
    background-color: #343d46;
    color: white;
    border: none;
    font-size: 0.85rem;
    padding: 0.3rem;
}

.reply-button:hover {
    cursor: pointer;
}

.reply-button:disabled {
    background-color: #a7adba;
}

.reply-button:disabled:hover {
    cursor: default;
}

.error-message-div {
    color: #c60021;
}

@media only screen and (max-width: 720px) {
    .reply-submit-div {
        display: block;
    }

    .reply-nickname-div {
        width: 100%;
        display: flex;
    }

    .nickname-span {
        width: 4.6rem;
    }

    .nickname-input {
        flex-grow: 1;
    }

    .reply-button {
        width: 100%;
        margin-top: 0.5rem;
    }
}