.language-div {
    color: #a7adba;
    text-align: right;
}

.selected-language-span {
    color: #343d46;
}

.language-span:hover {
    color: #343d46;
    cursor: pointer;
}

.kor-span {
    padding-right: 0.8rem;
}

.title-div {
    text-align: center;
    font-size: 1.9rem;
    padding-top: 0.5rem;
    color: black;
}

.date-div {
    color: #4f5b66;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 0.9rem;
}

.content-div { 
    padding-top: 1.5rem;
    font-size: 1rem;
    color: black;
    font-weight: 300;
}

:host ::ng-deep a {
    color: #0074D9;
    text-decoration: none;
}

:host ::ng-deep pre {
    font-size: 0.9rem;
}

:host ::ng-deep h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

:host ::ng-deep h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

:host ::ng-deep h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
}

:host ::ng-deep p {
    font-size: 1rem;
    line-height: 2.2rem;
    padding-bottom: 1.5rem;
}

:host ::ng-deep ol {
    margin-top: -1.5rem;
    padding-bottom: 1.5rem;
    line-height: 2.2rem;
}

:host ::ng-deep img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 1.5rem;
}

:host ::ng-deep code {
    color: #e83e8c;
}

@media only screen and (max-width: 720px) {
    .title-div {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.8rem;
    }

    .date-div {
        padding-top: 0.8rem;
    }
}
