<div class='container-div'>
    <div class='event-div'>
        <div class='time-div'>
            Dec 2020
        </div>
        <div>
            Goldman Sachs Incoming Analyst Hackathon (1st Place 
            <fa-icon class="trophy-icon" [icon]="faTrophy"></fa-icon>)
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Nov 2020
        </div>
        <div>
            MBN 2020 AI Training Data Hackathon (3rd Place 
            <fa-icon class='medal-icon' [icon]="faMedal"></fa-icon>)
            <a href="https://mbn.co.kr/news/economy/4346112" target="_blank">
                <fa-icon class='link-icon' [icon]=faLink></fa-icon>
            </a>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Sep 2020
        </div>
        <div>
            End of SWE Internship @ <a href="https://www.lablup.com/home" target="_blank">Lablup</a>
            <img class='company-img' src="../../../assets/lablup.png">
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Aug 2020
        </div>
        <div>
            Start of SWE Internship @ <a href="https://www.lablup.com/home" target="_blank">Lablup</a>
            <img class='company-img' src="../../../assets/lablup.png">
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
        </div>
        <div>
            End of SWE Internship @ <a href="https://www.goldmansachs.com/" target="_blank">Goldman Sachs</a>
            <img class='company-img gs-img' src='../../../assets/gs.png'>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Jul 2020
        </div>
        <div>
            Start of SWE Internship @ <a href="https://www.goldmansachs.com/" target="_blank">Goldman Sachs</a>
            <img class='company-img gs-img' src='../../../assets/gs.png'>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Mar 2020
        </div>
        <div>
            Hacktech 2020 (Best Use of Esri Technology 
            <fa-icon class="trophy-icon" [icon]="faTrophy"></fa-icon>)
            <a href="https://devpost.com/software/homes-reinvented" target="_blank">
                <fa-icon class='link-icon' [icon]=faLink></fa-icon>
            </a>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Feb 2020
        </div>
        <div>
            Citadel Terminal Live: SoCal 2020 (Semi-finalist 
            <fa-icon class="medal-icon" [icon]="faMedal"></fa-icon>)
            <a href="https://www.credential.net/ffab9e53-d3fd-48ef-a09e-2a3aa9544da3#gs.oixrat" target="_blank">
                <fa-icon class='link-icon' [icon]=faLink></fa-icon>
            </a>
            <a href="" target="_blank">
                <fa-icon class='link-icon' [icon]=faPencil></fa-icon>
            </a>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
        </div>
        <div>
            TreeHacks 2020 🌴
            <a href="https://devpost.com/software/treehack" target="_blank">
                <fa-icon class='link-icon' [icon]=faLink></fa-icon>
            </a>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Sep 2019
        </div>
        <div>
            End of SWE Internship @ <a href="https://www.onclusive.com/" target="_blank">Onclusive</a>
            <img class='company-img gs-img' src='../../../assets/onclusive.png'>
            <a href="" target="_blank">
                <fa-icon class='link-icon' [icon]=faPencil></fa-icon>
            </a>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Jun 2019
        </div>
        <div>
            Start of SWE Internship @ <a href="https://www.onclusive.com/" target="_blank">Onclusive</a>
            <img class='company-img gs-img' src='../../../assets/onclusive.png'>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Jun 2019
        </div>
        <div>
            End of AI Research Internship @ <a href="https://www.clova.ai/" target="_blank">Naver</a>
            <img class='company-img gs-img' src='../../../assets/naver.png'>
            <a href="" target="_blank">
                <fa-icon class='link-icon' [icon]=faPencil></fa-icon>
            </a>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Jun 2019
        </div>
        <div>
            Start of AI Research Internship @ <a href="https://www.clova.ai/" target="_blank">Naver</a>
            <img class='company-img gs-img' src='../../../assets/naver.png'>
        </div>
    </div>
    <div class='event-div'>
        <div class='time-div'>
            Jun 2018
        </div>
        <div>
            Dischargement from ROK Army 🎉 
        </div>
    </div>
</div>