.container-div {
    padding-bottom: 0.5rem;
}

.event-div {
    display: flex;
    padding-bottom: 1rem;
}

.time-div {
    width: 5.2rem;
    color: #c60021;
    flex-shrink: 0;
}

.time-div-kor {
    width: 5.8rem;
    color: #c60021;
    flex-shrink: 0;
    padding-right: 0.5rem;
}

.trophy-icon {
    color: gold;
}

.medal-icon {
    color: goldenrod;
}

.company-img {
    vertical-align: middle;
    padding-left: 0.5rem;
    height: 1rem;
}

.gs-img {
    height: 1.1rem;
}

.link-icon {
    padding-left: 1.2rem;
    font-size: 0.9rem;
}
