.new-reply-div {
    display: flex;
    padding-top: 0rem;
    width: 100%;
}

.reply-span-div {
    font-size: 0.9rem;
    color: #717786;
    flex: 0 0 4rem;
}

.reply-span:hover {
    cursor: pointer;
    color: #343d46;
    text-decoration: underline;
}

.reply-input-div {
    flex-grow: 1;
    width: 100%;
}

.sign-in-message {
    color: #c60021;
}

.reply-list-div {
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    // width: 100%;
}

.reply-item-div {
    width: 100%;
    padding-bottom: 0.7rem;
}

@media only screen and (max-width: 720px) {
    .new-reply-div {
        display: block;
    }
    
    .reply-span-div {
        width: 100%;
        padding-bottom: 0.5rem;
    }

    .reply-input-div {
        width: 100%;
    }
}