<div [ngStyle]="{'display' : (screenWidth > sideNavThreshold) ? 'none' : 'block'}"
    class='sm-header-div'>
   <button class='menu-button' type="button"
           mat-icon-button (click)="toggleSidenav()">
       <mat-icon>menu</mat-icon>
   </button>
   <span class='sm-title-span'>
       <a routerLink="/">
            Noninertial Frame
       </a>
    </span>
</div>
<mat-sidenav-container autosize>
    <mat-sidenav class='full-sidenav' #sidenav opened='true' mode='side' *ngIf="screenWidth > sideNavThreshold">
        <div [ngStyle]="{'display' : (screenWidth > sideNavThreshold) ? 'block' : 'none'}"
             class='sidenav-title-div'>
            <a routerLink="/">
                <span class='sidenav-title-span'><strong>Noninertial Frame</strong></span>
            </a>
        </div>
        <ul>
            <li>
                <a routerLink="/about" (click)="(screenWidth <= sideNavThreshold) && sidenav.close()">
                    <span class="sidenav-li-text" [ngClass]="{'selected-page': url?.startsWith('/about')}">
                        About
                    </span>
                    <span class="sidenav-li-icon"> <fa-icon [icon]="faUser"></fa-icon></span>
                </a>
            </li>
            <li>
                <a routerLink="/blog" (click)="(screenWidth <= sideNavThreshold) && sidenav.close()">
                    <span class="sidenav-li-text" [ngClass]="{'selected-page': url === '/blog'}">
                        Blog
                    </span>
                    <span class="sidenav-li-icon">✏️</span>
                </a>
            </li>
            <li>
                <a routerLink="/projects" (click)="(screenWidth <= sideNavThreshold) && sidenav.close()">
                    <span class="sidenav-li-text" [ngClass]="{'selected-page': url === '/projects'}">
                        Projects
                    </span>
                    <span class="sidenav-li-icon">📌</span>
                </a>
            </li>
            <li>
                <span class='file-icon-span'>
                    <a href="https://firebasestorage.googleapis.com/v0/b/noninertialframe-dffc3.appspot.com/o/Resume_YongkyunLee.pdf?alt=media&token=5135e857-b3ed-49da-bb01-cc1a6ebf8655" target="_blank">
                        <fa-icon [icon]="faFile"></fa-icon>
                    </a>
                </span>
                <span class='linkedin-icon-span'>
                    <a href="https://www.linkedin.com/in/yongkyunlee" target="_blank">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                </span>
                <span class='github-icon-span'>
                    <a href="https://www.github.com/yongkyunlee" target="_blank">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                </span>
            </li>
        </ul>
        <div class='signature-div'>
            <span class='signature-span'><i>by Yongkyun Lee</i></span>
        </div>
    </mat-sidenav>

    <mat-sidenav [ngClass]="{'sm-sidenav-folded': !isSidenavExpanded, 'sm-sidenav-expanded': isSidenavExpanded}"
                  #sidenav opened='true' mode='side' *ngIf="screenWidth <= sideNavThreshold">
        <div [ngClass]="{'sm-sidenav-list-div-folded': !isSidenavExpanded, 'sm-sidenav-list-div-expanded': isSidenavExpanded}">
            <div [ngClass]="{'sm-sidenav-item-div-expanded': isSidenavExpanded}"
                 class='sm-sidenav-item-div'>
                <a routerLink="/about" (click)="(screenWidth <= sideNavThreshold) && sidenav.close()">
                    <span *ngIf="isSidenavExpanded" class="sidenav-li-text"
                          [ngClass]="{'selected-page': url?.startsWith('/about')}">
                        About
                    </span>
                    <span [ngClass]="{'sidenav-li-icon': isSidenavExpanded, 'sidenav-li-icon-folded': !isSidenavExpanded}">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                </a>
            </div>
            <div [ngClass]="{'sm-sidenav-item-div-expanded': isSidenavExpanded}"
                 class='sm-sidenav-item-div'>
                <a routerLink="/blog" (click)="(screenWidth <= sideNavThreshold) && sidenav.close()">
                    <span *ngIf="isSidenavExpanded" class="sidenav-li-text"
                          [ngClass]="{'selected-page': url === '/blog'}">
                        Blog
                    </span>
                    <span [ngClass]="{'sidenav-li-icon': isSidenavExpanded, 'sidenav-li-icon-folded': !isSidenavExpanded}">
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                    </span>
                </a>
            </div>
            <div [ngClass]="{'sm-sidenav-item-div-expanded': isSidenavExpanded }"
                 class='sm-sidenav-item-div'>
                <a routerLink="/projects" (click)="(screenWidth <= sideNavThreshold) && sidenav.close()">
                    <span *ngIf="isSidenavExpanded" class="sidenav-li-text"
                          [ngClass]="{'selected-page': url === '/projects'}">
                        Projects
                    </span>
                    <span [ngClass]="{'sidenav-li-icon': isSidenavExpanded, 'sidenav-li-icon-folded': !isSidenavExpanded}">
                        <fa-icon [icon]="faProjectDiagram"></fa-icon>
                    </span>
                </a>
            </div>
            <ng-container *ngIf='isSidenavExpanded'>
                <div class='sm-sidenav-item-div sm-sidenav-item-div-expanded'>
                    <span class='file-icon-span'>
                        <a href="https://firebasestorage.googleapis.com/v0/b/noninertialframe-dffc3.appspot.com/o/Resume_YongkyunLee.pdf?alt=media&token=5135e857-b3ed-49da-bb01-cc1a6ebf8655" target="_blank">
                            <fa-icon [icon]="faFile"></fa-icon>
                        </a>
                    </span>
                    <span class='linkedin-icon-span'>
                        <a href="https://www.linkedin.com/in/yongkyunlee" target="_blank">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </span>
                    <span class='github-icon-span'>
                        <a href="https://www.github.com/yongkyunlee" target="_blank">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </span>
                </div>
            </ng-container>
            <ng-container *ngIf='!isSidenavExpanded'>
                <div class='sm-sidenav-item-div'>
                    <span class='file-icon-span-folded'>
                        <a href="https://firebasestorage.googleapis.com/v0/b/noninertialframe-dffc3.appspot.com/o/Resume_YongkyunLee.pdf?alt=media&token=5135e857-b3ed-49da-bb01-cc1a6ebf8655" target="_blank">
                            <fa-icon [icon]="faFile"></fa-icon>
                        </a>
                    </span>
                </div>
                <div class='sm-sidenav-item-div'>
                    <span class='linkedin-icon-span-folded'>
                        <a href="https://www.linkedin.com/in/yongkyunlee" target="_blank">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </span>
                </div>
                <div class='sm-sidenav-item-div'>
                    <span class='github-icon-span-folded'>
                        <a href="https://www.github.com/yongkyunlee" target="_blank">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </span>
                </div>
            </ng-container>
        </div>
        <div class='signature-div'>
            <span class='signature-span'><i>by Yongkyun Lee</i></span>
        </div>
    </mat-sidenav>

    <div class='mat-content'>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>