$border-radius: 5px;
$content-font-size: 1rem;

.comment-header-div {
    display: flex;
    align-items: baseline;
}

.comment-nickname-div {
    font-size: 1.2rem;
    padding-right: 1rem;
}

.comment-date-div {
    font-size: 0.9rem;
}

.comment-edit-div {
    color: #717786;
    margin-left: auto;
}

.edit-span {
    padding-right: 0.7rem;
}

.edit-span:hover {
    color: #343d46;
    cursor: pointer;
}

.selected-mode-span {
    color: #343d46;
}

.delete-span:hover {
    color: #343d46;
    cursor: pointer;
}

.comment-content-div {
    padding-top: 0.5rem;
    font-size: $content-font-size;
}

.comment-content-span {
    white-space: pre-wrap;
}

.comment-new-content-div {
    padding-top: 0.5rem;
    font-size: $content-font-size;
}

.comment-update-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-message-div {
    color: #c60021;
    font-size: 1rem;
}

.update-button {
    background-color: #343d46;
    color: white;
    border: none;
    font-size: 0.9rem;
    text-align: middle;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}

.update-button:disabled {
    background-color: #a7adba;
    cursor: default;
}

.update-button {
    cursor: pointer;
}

.comment-delete-div {
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    background-color: #343d46;
    color: white;
    border: none;
    font-size: 0.9rem;
    text-align: middle;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}

.delete-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .comment-header-div {
        flex-wrap: wrap;
    }

    .comment-nickname-div {
        width: 100%;
        padding-bottom: 0.2rem;
    }

    .comment-date-div {
        color: #717786;
    }

    .edit-button {
        margin-top: 0.7rem;
        width: 100%;
    }

    .delete-button {
        margin-top: 0.5rem;
        width: 100%;
    }
    
    .update-button {
        margin-top: 0.5rem;
        width: 100%;
    }
}
