.title-div {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.subtitle-div {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.blog-home-header-div {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

select {
    border: 0px;
    outline: 0px;
    font-size: 1rem;
}

.language-div {
    color: #a7adba;
}

.snippet-group-div {
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
}

.snippet-group-header-div {
    font-size: 1.4rem;
    color: #c60021;
}

.post-list-div {
    padding-bottom: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .title-div {
        font-size: 1.5rem;
    }

    .subtitle-div {
        font-size: 1.1rem;
    }
}