<div>
    <div class='header-div'>
        <div class='title-div'>
            <ng-container *ngIf='language === "english"'>
                <strong><a>{{blogSnippet.titleEng}}</a></strong>
            </ng-container>
            <ng-container *ngIf='language === "korean"'>
                <strong><a>{{blogSnippet.titleKor}}</a></strong>
            </ng-container>
        </div>
    </div>
    <div class='keywords-div'>
        <ng-container *ngIf='language === "english"'>
            <span *ngFor="let keyword of blogSnippet.keywordsEng" class='keyword-span'>
                #{{keyword}}
            </span>
        </ng-container>
        <ng-container *ngIf='language === "korean"'>
            <span *ngFor="let keyword of blogSnippet.keywordsKor" class='keyword-span'>
                #{{keyword}}
            </span>
        </ng-container>
    </div>
    <div class='footer-div'>
        <div class='date-div'>
            {{ blogSnippet.date | dateStr }}
        </div>
        <div class='category-div'>
            <ng-container *ngIf='language === "english"'>
                {{ blogSnippet.category }}
            </ng-container>
        </div>
    </div>
</div>