$border-radius: 5px;

.sign-in-div {
    padding: 0.5rem 1rem 0.8rem 0.5rem;
    border: dashed 2px #a7adba;
    font-size: 1rem;
}

.auth-div {
    display: flex;
    align-items: center;
}

.auth-intro-div {
    text-align: middle;
    font-size: 1.1rem;
}

.auth-button {
    font-size: 0.8rem;
    height: 2rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: middle;
}

.oauth-img {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    width: 5rem;
    height: 1rem;
    width: 1rem;
    top: 25%;
    float:left;
}

.auth-icon {
    padding-right: 0.5rem;
    font-size: 1rem;
}

.google-icon {
    background: 
        linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
        linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,
    
        linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
        linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
        #34a853;
    background-repeat:no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    // -webkit-text-fill-color: transparent;
    // color: red;
}


.email-sign-in-form {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 0.7rem;
    width: 100%;
}

.email-label {
    padding-right: 1rem;
}

.email-input-div {
    padding-right: 1rem;
}

.email-input {
    width: 8rem;
    font-size: 1rem;
    height: 1.4rem;
    border: 1px solid #a7adba;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

.password-label {
    padding-right: 1rem;
}

.password-input-div {
    padding-right: 1rem;
}

.password-input {
    width: 8rem;
    font-size: 1rem;
    height: 1.4rem;
    border: 1px solid #a7adba;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

.email-input-button-div {
    flex-grow: 1;
    display: flex;
}

.email-sign-in-button-div {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.email-sign-in-button {
    font-size: 1rem;
    background-color: #343d46;
    border: none;
    color: white;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.email-sign-in-button:hover {
    cursor: pointer;
}

.email-sign-in-button:disabled {
    background-color: #a7adba
}

.email-sign-in-button:disabled:hover {
    cursor: default;
}

.reset-div {
    margin-left: 0.7rem;
}

.forgot-password-span {
    color: #a7adba;
}

.forgot-password-span:hover {
    cursor: pointer;
    color: #343d46;
}

.reset-password-button {
    background-color: #eb6c6b;
    color: black;
    font-size: 1rem;
    border: none;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.reset-password-button:hover {
    cursor: pointer;
}

.reset-password-button:disabled {
    background-color: #f4b3b3;
}

.reset-password-button:disabled:hover {
    cursor: default;
}

.auth-error-div {
    // padding-top: 0.5rem;
    font-size: 1rem;
    color: #c60021;
}

.auth-message-div {
    font-size: 1rem;
    color: #1d1bf9;
}

.auth-warning-div {
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

@media only screen and (max-width: 1200px) {
    .auth-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .auth-intro-div {
        font-size: 1rem;
        text-align: left;
        padding-bottom: 0.5rem;
    }

    .auth-button-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .auth-button {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 0rem;
    }

    .email-sign-in-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0.5rem;
        margin-left: -0.5rem;
    }

    .email-input-div {
        display: flex;
        padding: 0 0 0.5rem 1rem;
        width: 100%;
    }

    .email-label {
        width: 4.5rem;
    }

    .email-input {
        flex-grow: 1;
    }

    .password-input-div {
        display: flex;
        width: 100%;
        padding: 0 0 0.8rem 1rem;
    }

    .password-label {
        width: 4.5rem;
    }

    .password-input {
        flex-grow: 1;
    }

    .email-input-button-div {
        justify-content: flex-start;
        width: 100%;
        align-items: center;
    }

    .email-sign-in-button-div {
        padding: 0 0.5rem 0 0.5rem;
    }

    .auth-warning-div {
        padding-top: 0.3rem;
        font-size: 0.8rem;
    }
}
