.container-div {
    font-size: 1rem;
}

.language-div {
    color: #a7adba;
    text-align: right;
    font-size: 1rem;
}

.selected-language-span {
    color: #343d46;
}

.language-span:hover {
    color: #343d46;
    cursor: pointer;
}

.kor-span {
    padding-right: 0.8rem;
}

:host ::ng-deep a {
    color: #0074D9;
    text-decoration: none;
}

.content-div {
    line-height: 1.5rem;;
}

.content-div p {
    padding-bottom: 0.5rem;
}

.version-div {
    padding-bottom: 2rem;
}

.version-title-div {
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
}

.version-row-div {
    display: flex;
    padding-bottom: 0.5rem;
}

.item-key-div {
    width: 11rem;
}