.title-div {
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.mode-div {
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.mode-span {
    color: #a7adba;
    padding-right: 1.5rem;
}

.mode-span:hover {
    cursor: pointer;
}

.selected-mode-span {
    color: inherit;
}

.new-blog-post-form {
    width: 100%;
    font-size: 1rem;
}

.title-table {
    width: 100%;
}

.first-td {
    padding-right: 1.5rem;
}

.form-field-full-width {
    width: 100%;
}

.container-div {
    padding-bottom: 2rem;
}