.title-div {
    padding-bottom: 1rem;
}

.new-blog-post-form {
    width: 100%;
}

.title-table {
    width: 100%;
}

.first-td {
    padding-right: 1.5rem;
}

.form-field-full-width {
    width: 100%;
}

.container-div {
    padding-bottom: 2rem;
}